.CommentForm {
  position: relative;
  right: 2rem;
  top: 2rem;
}

.CommentForm-label {
  width: 10rem;
  text-align: right;
  margin-right: 0.5rem;
}

.CommentForm-button {
  display: inline-block;
  margin: 1rem;
}